html,
body,
body>div {
  height: 100%;
}

body {
  background-color: #eee;
  color: #048;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

.yuge {
  font-size: 96px;
  margin: 28px 0 0 50px;
}

.description {
  margin: 50px;
  font-size: 24px;
}

.flex-container {
  display: flex;
  min-height: 100%;
}

.flex-item-equal {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blue-background {
  background-color: #048;
}

.image-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: white 5px solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.image-container {
  text-align: right;
  transition: 0.2s all;
  margin: 50px;
  min-height: 300px;
}

.main-container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container .main-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

.icon-container {
  display: flex;
  height: 48px;
}

.icon-item {
  width: 64px;
}

.svg-icon {
  width: 32px;
  height: 32px;
  padding: 8px;
  /* (48 - 32)/2 */
  margin-left: 42px;
  margin-bottom: 50px;
  /* 50 to match others, minus padding */
  cursor: pointer;
  transition: 0.2s all;
}

.svg-icon:hover {
  padding: 0;
  width: 48px;
  height: 48px;
}

.svg-gmail:hover {
  fill: #D14836;
}

.svg-github:hover {
  fill: #181717;
}

.svg-linkedin:hover {
  fill: #0077B5;
}

@media screen and (max-width: 768px) {
  .flex-container{
    flex-direction: column;
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-circle {
    width: 200px;
    height: 200px;
  }
}